body{
    background-image: url("../MEDIA/IMAGE/desktop_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: rgba(255, 159, 4, 0.373);
}
.left{
    display: flex;
    justify-content: space-around;
}
.left button{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-right: 20px;
    padding: 0 30px;
}
.left button:hover{
    color: red;
    font-size: 30px;
}
.left button:nth-child(2){
    display: none;
}
#date_time{
    padding: 10px 5px 10px 5px;
    height: auto;
    width: 200px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 5px 25px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("../MEDIA/IMAGE/kratos_bv.webp");
    background-repeat: no-repeat;
    background-size: cover;
}